* {
	font-size: 12px;
	font-weight: bold;
	font-family: monospace;
	padding: 0;
	margin: 0;
}

window#waybar {
	/* background: #1b1f20; */
	background: #24201a;
	color: #ddc7a1;
	border: solid 2px #ddc7a1;
	border-radius: 10px;
}

#custom-menu {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 24px;
}

#custom-menu:hover {
	color: #ffedce;
}

#custom-launcher-1,
#custom-launcher-2,
#custom-launcher-3,
#custom-launcher-4 {
	padding-right: 15px;
	font-size: 18px;
}

#custom-launcher-1:hover,
#custom-launcher-2:hover,
#custom-launcher-3:hover,
#custom-launcher-4:hover {
	font-size: 20px;
}

#custom-zypper {
	color: #4c9141;
}

#custom-power {
	color: #ffffff;
	background-color: #b85f49;
	border: solid 1px black;
	border-radius: 5px;
	margin: 5px;
	margin-right: 6px;
	margin-left: 2px;
	padding-right: 3px;
}

#custom-power:hover {
	background-color: #ec7c60;
}

#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#custom-weather {
	font-size: 14px;
}

#workspaces,
#pulseaudio,
#custom-weather,
#memory,
#cpu,
#battery,
#disk.1,
#disk.2,
#clock.3,
#tray {
	margin-right: 5px;
}

#workspaces {
	/* ... */
}

#workspaces button {
	color: #fdf6e3;
}

#workspaces button.focused {
	color: #268bd2;
}

#workspaces button.active {
	background: #377c81;
	border-radius: 0px;
	margin: 5px;
}

#workspaces button.urgent {
	background: #cc4116;
	border-radius: 0px;
	margin: 5px;
}

#workspaces button:hover {
	/* ... */
}

#memory {
	color: #ffffff;
}

#cpu {
	color: #ffffff;
}

#battery {
	color: #ffffff;
}

#disk.1 {
	color: #ffffff;
}

#disk.2 {
	color: #ffffff;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk.1 #disk.2 {
	padding: 0 2px;
}

#taskbar {
	padding: 0 0 0;
	background: #000000;
}

#taskbar button {
	padding: 0 5 0;
	background: #000000;
}

#taskbar button.active {
	background: gray;
}

#tray {
	padding: 0 5 0;
}